* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --second-bg-colorBlur: #112e427a;
  --text-color: #ededed;
  --main-color: #00abf0;
  --main-color3: #a0a796;
  --main-color4: #1f3037;
  --wykres: #00f018;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  /* background: url('/images/dax-ilustrator.png') no-repeat; */
  background-size: cover;
  background-position: center;

  /* background: var(--bg-color); */
  color: var(--text-color);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("/images/dax-ilustrator.png"); /* Ścieżka do obrazka PNG */
  background-size: cover; /* Dopasowanie obrazka do rozmiaru okna przeglądarki */
  background-repeat: no-repeat; /* Wyłącz powtarzanie obrazka */
  z-index: -1; /* Przesunięcie pod zawartość */
  opacity: 0.2;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

p {
  font-size: 1.6rem;
}

.img-gallery {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 2px solid var(--main-color);
}

/* ----------- Navbar ----------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.scroling {
  backdrop-filter: blur(5px);
}

.logo {
  font-size: 2.5rem;
  color: crimson;
  font-weight: 600;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a:active {
  color: var(--main-color);
}

.navbar .active {
  color: var(--main-color);
  /* color: red; */
}

.hamburger {
  /* display: flex; */
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  margin: 0 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 100;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--text-color);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 0px;
}
.hamburger span:nth-child(2) {
  top: 12px;
}
.hamburger span:nth-child(3) {
  top: 24px;
}

/* .hamburger span:nth-child(1){
  top: 0px;
}
.hamburger span:nth-child(2){
  top: 18px;
}
.hamburger span:nth-child(3){
  top: 36px;
} */

.hamburger.active span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
  left: -50px;
}
.hamburger.active span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.loading {
  /* background: linear-gradient(to bottom right, rgb(65, 54, 65), cyan); */
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.spinner {
  height: 120px;
  width: 120px;
  border: 6px solid;
  border-color: white transparent white transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* -----------------------------------  Home ------------------------------ */

.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
}

.home-content {
  max-width: 60rem;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content .text-animate {
  position: relative;
  width: 18.8rem;
}

.home-content .text-animate h2 {
  /* position: relative; */
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.1px var(--main-color);
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat;
  background-clip: text;
  background-position: 18.8rem 0;
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}

.home-content .text-animate h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid var(--main-color);
  z-index: -1;
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s;
}

.home-content p {
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 50%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 34.5rem;
  height: 8rem;
  align-items: center;
  text-align: left;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 50%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
}

.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.btn-box .btn:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.zello-box {
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1.5rem;
  padding: 1.5rem;
}

.link-zello {
  z-index: 1;
  cursor: pointer;
  height: 60pt;
  width: 60pt;
  position: relative;
}

.ikona-zello {
  display: block;
  height: 60pt;
  width: 60pt;
  margin: 0;
}

.zello-opis {
  position: relative;
  margin-top: 1rem;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  /* border: 2px solid red; */
  transition: 3s;
}

.home-imgHover:hover {
  /* background-color: yellowgreen; */
  opacity: 0.8;
}

/* ---------------------------------------------- o Mnie -------------------------------------- */

.about {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 6rem;
  /* min-height: auto; */
}

.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

span {
  color: var(--main-color);
}

.omnietxt {
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-align: center;
}

.about-img {
  /* border: 2px solid red; */
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: 0.2rem solid var(--main-color);
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.2rem solid var(--second-bg-color);
  border-bottom: 0.2rem solid var(--second-bg-color);
  border-left: 0.2rem solid var(--main-color);
  border-right: 0.2rem solid var(--main-color);
  animation: aboutSpinner 8s linear infinite;
}

.about-content {
  text-align: center;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.btn-box.btns {
  display: inline-block;
  width: 15rem;
}

.btn-box.btns .btn::before {
  background: var(--second-bg-color);
}

/* ----------------------- Blog ------------------- */

.blog {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
}

.blog .blog-row {
  display: flex;
  flex-wrap: nowrap;
  gap: 5rem;
  flex-direction: column;
}

.blog-row-wpis {
  width: 100%;
}

.blog-row .blog-column {
  flex: 1 1 10rem;
}

.blog-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.blog-column .blog-box {
  border-left: 0.2rem solid var(--main-color);
}

.blog-box .blog-content {
  position: relative;
  padding-left: 2rem;
}

.blog-box .blog-content::before {
  content: "";
  position: absolute;
  top: 0;
  width: 2rem;
  height: 2rem;
  background: var(--main-color);
  border-radius: 50%;
  left: -1.1rem;
}

.blog-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.blog-content .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.blog-content .content:hover::before {
  width: 100%;
}

.blog-content .content .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: 0.5rem;
}

.blog-content .content .year .kalendarz {
  padding-right: 0.5rem;
}

.blog-content .content h3 {
  font-size: 2rem;
}

.blog-content .content p {
  font-size: 1.6rem;
  padding-top: 0.5rem;
}

.linek {
  display: block;
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  transform: scale(1);
  transition: transform 0.2s ease;
}

.linek:hover {
  transform: scale(1.05) translateZ(1px);
}

/* ------------------------------------- Wyniki ----------------------------- */

.title-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.wyniki {
  /* min-height: auto; */
  padding-bottom: 7rem;
}
.wyniki .wyniki-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
}

.wyniki-row .wyniki-column {
  flex: 1 1 40rem;
}

.wyniki-row .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
  text-align: center;
}

.wyniki-box .wyniki-content {
  position: relative;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
}

.tabelki2 .wyniki-column {
  margin-bottom: 10rem;
}

.wyniki-box .wyniki-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.wyniki-box .wyniki-content:hover::before {
  width: 100%;
}

.wyniki-content .progres {
  display: flex;
  justify-content: center;
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
  margin: 1rem 0;
  padding: 3rem;
  align-items: center;
}

.wyniki-content .progres h3 {
  display: flex;
  font-size: 1.7rem;
  justify-content: space-between;
  font-weight: 400;
  margin: 0;
  width: 100%;
}

.wyniki-content .progres h3 span {
  color: var(--text-color);
}

.wyniki-content .progres .wyniki-bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
  padding: 0.5rem;
  margin: 1rem 0;
  display: none;
}

.wyniki-content .progres .wyniki-bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: var(--main-color);
}

.wyniki-column:nth-child(1)
  .wyniki-content
  .progres:nth-child(1)
  .wyniki-bar
  span {
  width: 0;
}
.wyniki-column:nth-child(1)
  .wyniki-content
  .progres:nth-child(2)
  .wyniki-bar
  span {
  width: 0;
}
.wyniki-column:nth-child(1)
  .wyniki-content
  .progres:nth-child(3)
  .wyniki-bar
  span {
  width: 0;
}
.wyniki-column:nth-child(1)
  .wyniki-content
  .progres:nth-child(4)
  .wyniki-bar
  span {
  width: 0;
}
.wyniki-column:nth-child(1)
  .wyniki-content
  .progres:nth-child(5)
  .wyniki-bar
  span {
  width: 0;
}
.wyniki-column:nth-child(1)
  .wyniki-content
  .progres:nth-child(6)
  .wyniki-bar
  span {
  width: 0;
}
.wyniki-column:nth-child(1)
  .wyniki-content
  .progres:nth-child(7)
  .wyniki-bar
  span {
  width: 0;
}

.wyniki-column:nth-child(2)
  .wyniki-content
  .progres:nth-child(1)
  .wyniki-bar
  span {
  width: 0;
}
.wyniki-column:nth-child(2)
  .wyniki-content
  .progres:nth-child(2)
  .wyniki-bar
  span {
  width: 0;
}
.wyniki-column:nth-child(2)
  .wyniki-content
  .progres:nth-child(3)
  .wyniki-bar
  span {
  width: 0;
}
.wyniki-column:nth-child(2)
  .wyniki-content
  .progres:nth-child(4)
  .wyniki-bar
  span {
  width: 0;
}
.wyniki-column:nth-child(2)
  .wyniki-content
  .progres:nth-child(5)
  .wyniki-bar
  span {
  width: 0;
}

.wyniki-column img {
  width: 100%;
  padding: 0;
  margin: 5rem auto;
  border: 2px solid var(--main-color);
  border-radius: 0.9rem;
}

.chart-container {
  width: 100%;
  height: 100vh;
  /* background-color: rgba(149, 149, 189, 0.139); */
}

#chart {
  height: 80vh;
  padding: 0;
  border: 2px solid var(--main-color);
  border-radius: 0.9rem;
  color: #081b29;
}

#chart span {
  color: #00ff00;
}

/* ------------------------- kontakt ---------------------------------- */

.contact {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
  gap: 4rem;
  padding-bottom: 6rem;
  justify-content: center;
}

.contact form {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.contact form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box .input-field {
  position: relative;
  width: 49%;
  margin: 0.8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: transparent;
  border: 0.2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
  color: var(--text-color);
}

.contact form .focus {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  border-radius: 0.6rem;
  z-index: -1;
  transition: 0.5s;
}

.contact form .input-box .input-field input:focus ~ .focus,
.contact form .input-box .input-field input:valid ~ .focus,
.contact form .textarea-field textarea:focus ~ .focus,
.contact form .textarea-field textarea:valid ~ .focus {
  width: 100%;
}

.contact form .textarea-field {
  position: relative;
  margin: 0.8rem 0 2.7rem;
  display: flex;
}

.contact form .textarea-field textarea {
  resize: none;
}

.kontakt-h3 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.qr-code {
  border-radius: 5px;
  border: 2px solid var(--main-color);
  max-width: 388px;
}

.kontakt-zello {
  padding: 1rem;
}

/* --------------------------------- footer ------------------------------------ */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  padding: 2rem 9%;
  background: var(--second-bg-color);
}

.footer-text {
  flex: 4;
}

.footer-text p {
  text-align: left;
  font-size: 1.1rem;
}

.footer-iconTop {
  flex: 1;
  text-align: right;
}

.footer-iconTop .arrow-link {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}

.footer-iconTop .arrow-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.footer-iconTop .arrow-link:hover::before {
  width: 100%;
}

.footer-iconTop .arrow-link .arrowup {
  font-size: 2.4rem;
  color: var(--bg-color);
  transition: 0.5s;
}

.footer-iconTop .arrow-link:hover .arrowup {
  color: var(--main-color);
}

/* --------------------------------------- konkurs zello ------------------------------ */

.konkurs {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}

.konkurs p {
  line-height: 1.6;
  font-size: 1.6rem;
}

.konkurs ol {
  font-size: 1.6rem;
}

.konkurs ol li {
  margin-left: 1.5rem;
}

.konkurs a {
  color: var(--main-color);
}

.wrapper {
  width: min(900px, 100% - 3rem);
  margin-inline: auto;
  font-size: 1.6rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  border: 2px solid var(--main-color);
  border-radius: 0.6rem;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  background: #323232;
  width: 100%;
}

caption,
th,
td {
  padding: 1rem;
  font-size: 1.6rem;
}

caption,
th {
  text-align: left;
}

caption {
  background-color: hsl(0, 0%, 0%);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
th {
  background: hsla(0, 0%, 0%, 0.5);
}

tr:nth-of-type(2n) {
  background: hsl(0, 0%, 0%, 0.2);
}

@media (max-width: 450px) {
  th {
    display: none;
  }

  td {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 15ch auto;
    padding: 0.5rem 1rem;
  }

  td:first-child {
    padding-top: 2rem;
  }
  td:last-child {
    padding-bottom: 2rem;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
    color: white;
  }
}

.link-url {
  color: white;
}

.link-url:hover {
  color: var(--main-color);
}

.positive {
  color: #00f018;
}

.negative {
  color: red;
}

/* ---------------------------------------------------- Galeria ------------------------------------------*/

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.obraz {
  /* flex: 0 0 calc(33.33% - 20px); */
  margin: 20px 0;
  max-height: calc(100vh - 60px);
}

.img-galeria {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  object-fit: contain;
}

/* ----------------------------------------------------  breakpoints ----------------------------*/

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .qr-code {
    max-width: 341px;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 4%;
  }

  section {
    padding: 10rem 4% 2rem;
  }

  .contact {
    justify-content: center;
  }

  .home {
    padding: 0 4%;
  }

  .footer {
    padding: 2rem 4%;
  }
}

@media (max-width: 768px) {
  .header {
    background: var(--bg-color);
  }

  .hamburger {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--bg-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    transition-delay: 0.2s;
    /* menu mobilne na cały ekran */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .navbar.active-mb-menu {
    left: 0;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home-content {
    margin-top: 7rem;
  }
}

@media (max-width: 520px) {
  html {
    font-size: 50%;
  }

  .home-content h1 {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 462px) {
  .home-content h1 {
    font-size: 5.2rem;
  }

  .blog {
    padding: 10rem 4% 5rem 5%;
  }

  .contact form .input-box .input-field {
    width: 100%;
  }

  .footer {
    /* display: flex; */
    flex-direction: column-reverse;
  }

  .footer p {
    margin-top: 2rem;
    text-align: center;
  }
}

@media (max-width: 371px) {
  .home {
    justify-content: center;
  }

  .home-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 841px) {
  .tabelki2 {
    display: flex;

    gap: 5rem;
  }
}

/* Keyframes animation */

@keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -18.8rem 0;
  }

  65%,
  85% {
    background-position: 0 0;
  }
}
@keyframes homeCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }

  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }

  75%,
  81% {
    opacity: 0;
  }
}

@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.test {
  position: fixed;
  z-index: 100;
  top: 50px;
  left: 0;
  font-size: 20px;
  color: red;
  cursor: pointer;
  display: flex;
  height: fit-content;
  padding: 10px;
  margin: 5px;
  background-color: #00ff00;
  text-align: center;
  border-radius: 5px;
}

.test:hover {
  scale: 110%;
}
